<a href="https://colab.research.google.com/github/yuja1130/AIpython./blob/main/20240412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
# 다음 리스트에서 "apple"의 요소를 출력하세요
fruits=["banana", "apple", "orange", "cherry"]
print(fruits[1])

apple

In [52]:
# 다음 리스트에서 마지막 요소를 출력하세요
numbers= [10,20,30,40,50]
print(numbers[-1])

50

In [53]:
# 다음 리스트에서 "banana" 요소를 "grape"로 변경하세요
fruits =[ "apple", "banana", "cherry"]
fruits[1] = "grape"
fruits

['apple', 'grape', 'cherry']

In [54]:
# 다음 리스트에 "strawberry" 요소를 추가하세요.
fruits = ["apple", "banana", "cherry"]
fruits.append("strawberry")
fruits

['apple', 'banana', 'cherry', 'strawberry']

In [55]:
# 다음 리스트에서 30을 제거하세요.
numbers = [10,20,30,40,50]
#numbers.remove(30)
numbers.pop(2) # 교수님은 이렇게 풀엇음
numbers

[10, 20, 40, 50]

In [56]:
# 다음 리스트에서 길이를 제거하세요.
numbers = [5,10,15,20,25]
len(numbers)

5

In [57]:
# 다음 리스트에서 가장 작은 값/ 가장 큰 값을 찾아 출력하세요.
numbers = [10,5,8,3,15]
print("최댓값 : ", max(numbers))
print("최솟값 : ", min(numbers))

최댓값 :  15
최솟값 :  3

In [58]:
# 다음 리스트의 모든 요소의 합을 계산하여 출력하세요.
numbers = [10,20,30,40,50]
print(sum(numbers))

150

In [59]:
# 다음 리스트의 모든 요소를 제곱하여 새로운 리스트를 생성하세요.
numbers = [1,2,3,4,5]
newlst = []
for num in numbers:
  newlst.append(num ** 2)
print(newlst)

[1, 4, 9, 16, 25]

In [60]:
# 다음 리스트에서 "apple" 요소의 개수를 출력하세요.
fruits = ["apple", "banana", "apple", "cherry", "apple"]
print(fruits.count("apple"))

3

In [61]:
def square(x):
  return x**2

In [62]:
ret = square(6)
print(ret)

36

In [63]:
def square(x):
  result = x ** 2
  return result

In [64]:
print(square(5))
print(square(10))
print(square(15))
print(square(20))

25
100
225
400

In [67]:
# 위에 문제를 함수로 표현한다면?
def square(numbers):
  newlist=[]
  for num in numbers:
    newlist.append(num**2)
  return newlst

In [68]:
new = square([1, 2, 3, 4, 5])
print(new)

[1, 4, 9, 16, 25]

In [78]:
def BMI(h, w):
  bmi = w / (h ** 2)
  return bmi

In [79]:
결과 = BMI(190,90)
print(결과)

0.002493074792243767