<a href="https://colab.research.google.com/github/yuja1130/AIpython./blob/main/20240405.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=10
if a>5:
  print("A는 5보다 크다")
print("프로그램 종료")

A는 5보다 크다
프로그램 종료

In [ ]:
a=10
if a>5:
  print("a는 5보다 크다")
elif a<=5:
  print("a는 5 이하입니다.")

a는 5보다 크다

## **a에 할당된 값의 짝수 홀수 여부를 알려주는 프로그램**

In [ ]:
a = int(input("값을 입력하세요 : "))
if a%2==0:
  print("%d은(는) 짝수입니다."%a)
elif a%2==1:
  print("a는 홀수입니다.")

값을 입력하세요 : 10
10은(는) 짝수입니다.

In [ ]:
a=5
if a>5:
  print("a는 5보다 크다")
elif a<5:
  print("a는 5보다 작다")
else:
  print("a는 5이다")

a는 5이다

In [ ]:
a=10
b=5
if a>5:
  if b<10:
    print("a는 5보다 크고 b는 10보다 작다")

a는 5보다 크고 b는 10보다 작다

In [ ]:
a=10
b=5
if a>5 and b<10:
  print("a는 5보다 크고 b는 10보다 작다")

0~100 점수를 입력받아서

90점 이상 A

80점 이상 B

70점 이상 C

60점 이상 D

그 외 F

In [ ]:
a = int(input("점수를 입력하세요 : "))
if a >=90:
  print("A")
elif a >=80:
  print("B")
elif a>=70:
  print("C")
elif a>=60:
  print("D")
else :
  print("F")

점수를 입력하세요 : 57
F

In [16]:
a = [1,2,3,4,5]
for i in a:
  print(i)

1
2
3
4
5

In [18]:
# 옆으로 출력
a = [1,2,3,4,5]
for i in a:
  print(i,end=' ')

1 2 3 4 5

In [21]:
# 더하기
a = [1,2,3,4,5]
tot=0
for i in a:
  print(i)
  tot+=i
print(tot)

1
2
3
4
5
15

In [22]:
# step 생략 시 1
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [23]:
for i in range(11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [24]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [26]:
#1~100 사이의 홀수만 출력
for i in range(1,100,2):
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [28]:
# 1~100 사이 짝수만 출력
for i in range(2,101,2):
  print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [32]:
#continue 사용해서 홀수만 출력
for i in range(1,101):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [33]:
for i in range(5):
  if i%2 ==1:
    break
  print(i)

0

In [41]:
#1~10 짝수합, 홀수합
a_tot = 0 # 짝수합
b_tot= 0  # 홀수합
for i in range(1,11):
  if i%2==0:
    a_tot+=i
  else:
    b_tot+=i
print("짝수값의 합은", a_tot, "입니다")
print("홀수값의 합은", b_tot, "입니다")

짝수값의 합은 30 입니다
홀수값의 합은 25 입니다

In [49]:
# 1부터 n까지 합
n = int(input())
tot = 0
for n in range(1,n+1):
   tot += n
print(tot)

3
6